@charset "utf-8";
/* 相同部分 */
/*margin绝对定位法实现三栏式布局,html按照left,middle,right顺序*/

*{
	margin:0;
	border:0;
	padding:0;
}
/*外围框体*/
#main{
	border:1px solid #999;
	padding:20px;
	background-color:#eee;
	margin:20px;
	position:relative;
	min-height:422px;
}
/*三栏式布局*/
.font{
	word-break:break-all;
}

#left,#right,#middle{
	background-color:white;
	border:1px solid #999;
}

/*left*/

#left img{
	float:left;
	margin:20px;
}

#teamName{
	margin:20px;
	font-size:20px;
	font-weight:bold;
}

/*right*/
#right img{
	margin:20px 20px 0 20px;
}


/*不同的部分*/
/*left*/
#left{
	width:200px;
	position:absolute;
	left:20px;
	top:20px;
}

/*middle*/
#middle{
	margin:0 144px 0 222px;
	padding:20px;
}
/*right*/
#right{
	width:120px;
	position:absolute;
	right:20px;
	top:20px;
}
