@charset "utf-8";
/* CSS Document */
/*流布局实现三栏式布局，按照right在middle之前的顺序*/

*{
	border:0;
	margin:0;
	padding:0;
}

/*外围框体*/
#main{
	border:1px solid #999;
	padding:20px;
	background-color:#eee;
	margin:20px;
}

/*三栏布局*/

#left,#right,#middle{
	background-color:white;
	border:1px solid #999;
}

.font{
	word-break:break-all;
}

/*left*/
#left{
	width:200px;
	float:left;
}

#left img{
	float:left;
	margin:20px;
}

#teamName{
	margin:20px;
	font-size:20px;
	font-weight:bold;
}

/*middle*/
#middle{
	margin:0 142px 0 222px;
	padding:20px;
}

/*right*/
#right{
	width:120px;
	float:right;
}

#right img{
	margin:20px 20px 0 20px;
}

/*footer*/
#footer{
	clear:both;
}